/* Imports */
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');

/* Define some variables we will need (colors) */
$textColor: #212121;
$textInvertColor: rgb(65, 58, 58);

$mutedColor: #c0c0c0;
$successColor: #66cdaa;
$errorColor: #f08080;
$warningColor: #fef65b;

$ligthenIntesity: 30%;

$font: 'Roboto Mono', monospace;

$columnNames: 'one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve';
$columnWidth: 100% / length($columnNames) - 1%;

$mobileBreak: 750px;

$shadowIdle: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
$shadowTiny: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
$shadowHuge: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

/* Do the imports for other scss */
@import 'base';

@import 'navigation';

@import 'grid';

@import 'button';

@import 'input';

@import 'typography';

@import 'table';

@import 'lists';

@import 'tooltip';

@import 'extra';

@import 'loaders';
